
.App {
  text-align: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.App-header {
  background-color: #222;
  height: 62px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app_verticalCenter{
  top: 36%;
  position: relative;
}

.app-resButton{
  margin-right: 1em;
}
